body {
	background: #335;
}

h1 {
	color: white;
	text-align: center;
}

img {
	border: 8px solid white;
	border-radius: 5px;
	width: 180px;
}

#container {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

figure {
	display: inline-block;
}

figcaption {
	padding: 6px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.365);
	color: gainsboro;
}

img:hover + figcaption {
  transition-delay: 2s;
  transition-duration: 300ms;
  transition-property: opacity;
  opacity: 1;
}

figcaption {
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}