body {
  background-color: rgba(172, 255, 47, 0.35);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div {
  background-color: white;
}

form {
  background-color: white;
}

h1 {
  text-align: center;
}

a {
  color: #00B7FF;
}

input {
  margin: 5px 0;
}

select {
  padding: 3px;
}

.container {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

ul {
  list-style: none;
}

.booking-list {
  list-style: disc;
  border: 1px black solid;
  padding: 25px 25px;
}

.booking-item {
  padding: 5px;
}

.dark-background {
  background-color: rgba(128, 128, 128, 0.15);

}

.sub-list {
  list-style: circle; 
}

.schedule-container {
  margin-left: -40px;
  margin-top: 15px;
  border: 1px black solid;
  padding: 10px;
  text-decoration: none;
}

.submit-btn {
  margin-top: 13px;
}

.registration {
  background-color: lightgrey;
  padding: 5px;
}

#submit-registration {
  margin: 5px 0;
}
